<div class="large-6 medium-6 small-12 columns bordered">
  <h1 class="pod-header"><span class="red">Weis</span>Bucks</h1>
  <dl id="has-rewards">
    <dt class="bucks-count"><%= @profile.current_reward_progress%></dt>
    <dd class="is-subhead"><%= @profile.amount_remaining_for_current_reward %> to go!</dd>
    <dd class="is-fineprint">15% on the Dollar for Weis Bucks
      (i.e. $50 = $7.50 in Weis Bucks).
      75 Bucks needed to redeem rewards. Learn More &#187;
    </dd>
</div>

<div class="large-6 medium-6 small-12 columns bordered">
  <h1 class="pod-header"><span class="red">WeisBucks</span>Available</h1>

  <%= link_to destination_rewards_path, class:"button redeem red" do %>
    <h2>Redeem Now</h2>
    <h4>You have <%= @profile.rewards_count %> rewards available.</h4>
  <% end %>

  <%= link_to destination_rewards_path, class:"button redeem black" do %>
    <h4>View Rewards Catalog</h4>
  <% end %>
</div>

<div class="large-6 medium-6 small-12 columns bordered" id='profile'>
  <h1 class="pod-header">My<span class="red">AccountInfo</span></h1>
  <table class="generic">
    <tr>
      <td>Name</td>
      <td><%= @profile.full_name %></td>
    </tr>
    <tr>
      <td>Address</td>
      <td><%= @profile.street %></td>
    <tr>
    <tr>
      <td>City State Zip</td>
      <td><%= @profile.city_state_zip_code %></td>
    </tr>
    <tr>
      <td>Phone</td>
      <td><%= @profile.phone_number %></td>
    </tr>
    <tr>
      <td>Email</td>
      <td><%= @profile.email_address %></td>
    </tr>
  </table>
</div>

<div class="large-6 medium-6 small-12 columns bordered">
  <h1 class="pod-header"><span class="red">WeisBucks</span>Earned</h1>
  <p>This archive shows when qualifying WeisBucks were deposited into your account.</p>
  <ul class="archive">
    <%- @profile.rewards.each do |reward| %>
      <li><%= reward %></li>
    <% end %>
  </ul>
</div>

