<header id="has-logo" class="row">
  <div class="large-6 medium-6 small-6 columns">
    <%=link_to root_path do %>
      <%=image_tag 'logo.jpg' %>
    <% end %>
  </div>

  <div class="large-6 medium-6 small-6 columns">
    <dl class="has-login">
      <dt>Welcome back, <%= current_customer.first_name %> | <%= link_to 'Log Out', '#' %></dt>
      <dt class="gold">Available Gold Card Bucks: <%= current_customer.balance %></dt>
    </dl>
  </div>
</header>

<header id="has-navigation" class="row">
  <ul id="is-navigation">
    <li>Redeem Now</li>
    <li>FAQ</li>
    <li>Contact Us</li>
    <li>Customer Service</li>
    <li>Back to MyWeis Account</li>
  </ul>
</header>
