<tr class='failed-transaction'>
  <td><%= failed_transaction.buyer_id       %></td>
  <td><%= failed_transaction.program_id     %></td>
  <td><%= failed_transaction.user_id        %></td>
  <td><%= failed_transaction.deposit_amount %></td>
  <td><%= failed_transaction.deposit_amount %></td>
  <td><%= failed_transaction.description    %></td>
  <td><%= failed_transaction.failure_reason %></td>
</tr>
