<div class="large-8 medium-8 small-16 large-offset-2 medium-offset-2 small-offset-4 columns bordered">
  <%= show_flashes %>

  <h1 class="pod-header"> Add a new transaction file</h1>

  <%= form_tag admin_transaction_path, multipart: true  do %>

    <%= label_tag       'transaction_file', 'Transaction CSV' %>
    <%= file_field_tag  'transaction_file' %>

    <%= submit_tag 'Upload transaction', class: "button redeem red" %>
  <% end %>
</div>

