<div class="large-8 medium-8 small-16 large-offset-2 medium-offset-2 small-offset-4 columns bordered">
  <%= show_flashes %>

  <h1 class="pod-header"> Add a new Enrollment file</h1>

  <%= form_tag admin_enrollment_path, multipart: true  do %>

    <%= label_tag       'enrollment_file', 'Enrollment CSV' %>
    <%= file_field_tag  'enrollment_file' %>

    <%= submit_tag 'Upload enrollment', class: "button redeem red" %>
  <% end %>
</div>

