<!DOCTYPE html>
<html>
<head>
  <title>FreshRewards</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%=render "shared/header" %>

<section class="row">
  <%= yield %>
</section>

<footer>
  <div class="row">
    <p class="centered">
      <%= link_to 'Home', profile_path(current_profile.id) %>  |
      <%= link_to 'Redeem Now', destination_rewards_path(current_profile) %>  |
      <%= link_to 'FAQ', home_faqs_path %> |
      <%= link_to 'Contact Us', home_contact_us_path %>  |
      <%= link_to 'Customer Service', home_customer_service_path %> |
      <%= link_to 'Back to MyWeis Account', profile_path(current_profile.id) %>
    </p>
    <p class="small centered">Copyright &copy; 2014 All Rights Reserved Consumer Loyalty Service LLC.</p>
  </div>
</footer>
</body>
</html>
